*
!.gitignore
!README.md
!README.zh-CN.md
!QUICKSTART.md
!CHANGELOG.md
!EVALUATION.md
!NOTICE.md
!SECURITY.md
!LICENSE.txt
!cli/
!cli/**
!evaluation/
!evaluation/**
!agent-client/
!agent-client/**
!vscode/
!vscode/**
!studio/
!studio/**
studio/dist/
